# Django
# ------------------------------------------------------------------------------
django>=2.2  # https://www.djangoproject.com/
django-environ  # https://github.com/joke2k/django-environ
djangorestframework  # https://github.com/encode/django-rest-framework
django-storages  # https://github.com/jschneier/django-storages
django-cors-headers  # https://github.com/adamchainz/django-cors-headers
drf-yasg  # https://github.com/axnsan12/drf-yasg


# Others
# ------------------------------------------------------------------------------
argon2-cffi # https://github.com/hynek/argon2_cffi
boto3  # https://github.com/boto/boto3
gunicorn
psycopg2-binary
rollbar
celery  # https://github.com/celery/celery
django-celery-beat  # https://github.com/celery/django-celery-beat
django-redis
django-filter
Pillow
